extends static_sites_layout

block content

  a(href='/auth/twitter') Log in with Twitter

  form(method='post', action='/login')
    input(type='text', name='username', placeholder='username', autofocus)
    input(type='password', name='password', placeholder='password')
    input(type='hidden', name='_csrf', value=csrf_token)
    input(type='submit', value='Log me in!')