.rounded-top
  border-top-left-radius 3px
  border-top-right-radius 3px
  border-top none

.rounded-bottom
  border-bottom-left-radius 3px
  border-bottom-right-radius 3px
  border-bottom none

.transparent-rounded-border
  border-radius 3px
  border 5px solid rgba(255,255,255,.2)
  box-shadow 0 0 3px rgba(0,0,0,.3)