@import '_base'
@import '_shared'
@import '_collections'
@import '_collection-content'
@import '_cards'

body
  background-color rgba(0, 0, 0, .04)
  font-family helvetica, sans-serif
  font-weight normal
  font-size 14px
  margin-top 20px
  margin-left 20px

form
  margin-bottom 0